@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variáveis globais */
:root {
    --corBlack: #000000;
    --corWhite: #F6F6F6;
    --corBlue: #22D4FD;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* estilo global */
body {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-primaria);
    box-sizing: border-box;
    background-color: var(--corBlack);
    color: var(--corWhite);
}
main {
    width: 50%;
    height: auto;
}

/* header e naevgação */
header {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: var(--corBlue);
    padding: 8px;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul {

}

/* seções */
section {
    display: flex;
    flex-direction: row;
}

/* rodape  */
figure {
    width: 50%;
    height: auto;
}
