@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variáveis globais */
:root {
    --corBlack: #000000;
    --corWhite: #F6F6F6;
    --corBlue: #22D4FD;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* estilo global */
body {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-primaria);
    box-sizing: border-box;
    background-color: var(--corBlack);
    color: var(--corWhite);
}
main {
    width: 100%;
    height: auto;
}

/* header e naevgação */
header {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: var(--corBlue);
    padding: 8px;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul li{
display: inline;
margin: 5px;
padding: 10px;
}

/* seções */
section {
    display: flex;
    flex-direction: row;
}

/* rodape  */
figure img{
margin: 30px;
}

.projetos {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 600px;
margin: 20px;
}
.titulo-projetos {
    text-align: center;
    margin: 20px;
    font-size: 24px;
}

.lista-de-projetos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 100px;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    list-style: none;
    margin: 20px;
}
.projeto1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2 ;
}
 