* {
    margin: 0%;
    padding: 0.5%;
}

@import url('https://fonts.googleapis.com/css2?family= Krona+One & family= Montserrat:wght@400;600 & display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}


.cabecalho {
    padding: 2% 0% 1% 0.1%;
    color: var(--cor-terciaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}



.apresentacao {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;

}

.botoes_link {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.5%;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21, 5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.foto {
    width: 50%
}

.botoes_link:hover {
    background-color: var(--cor-primaria);
    padding-left: 2%;
    padding-right: 2%;

}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    margin-top: 2%;
    padding-top: 0.5%;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400px;
}

@media(max-width:1200px) {
   .cabecalho{
    padding: 10%;
   }
   .cabecalho__menu{
    justify-content: ;
   }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;

    }
}